@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  .container-content{
    @apply w-screen px-4 md:px-12 lg:px-24 xl:px-36 py-6 sm:py-12;
  }
  .container-fluid {
    @apply w-screen px-4 md:px-12 lg:px-24 xl:px-36;
  }
  .text-48-responsive {
    @apply text-3xl lg:text-4xl xl:text-5xl ;
  }
  .text-24-responsive {
    @apply text-base lg:text-lg xl:text-2xl;
  }
  .text-20-responsive {
    @apply text-sm lg:text-base xl:text-xl;
  }
  .text-18-responsive{
    @apply text-xs lg:text-sm xl:text-lg;
  }
  .text-14-responsive{
    @apply text-xs xl:text-sm;
  }
  .h3-detail-partner{
    @apply text-18-responsive leading-normal font-bold mb-1 xl:mb-2 flex items-center;
  }
  .icon-h3-detail-partner{
    @apply w-4 lg:w-6 h-4 lg:h-6 mr-3 text-primary-orange inline-block;
  }
  .icon-cardtab{
    @apply w-[30px] md:w-[40px]  mr-[20px] md:mr-[40px];
  }
  .pr-detail-partner{
    @apply lg:pr-[220px] xl:pr-[360px];
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins, Open Sans";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiContainer-root {
  padding: 0 !important;
}

.MuiTypography-colorPrimary {
  color: white !important;
}
.MuiOutlinedInput-root {
  border-radius: 10px !important;
}

.MuiPaper-rounded {
  border-radius: 10px !important;
}

.container-custom {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.swiper-button-prev {
  color: #f6921e !important;
}

.swiper-button-next {
  color: #f6921e !important;
}

/* .swiper-pagination-bullet {
  background-color: transparent !important;
  border: 2px solid #f6921e !important;
  opacity: 1 !important;
  width: 15px !important;
  height: 15px !important;
}

.swiper-pagination-bullet-active {
  background: #f6921e !important;
} */

/* .swiper-pagination {
  top: 80%;
  left: 85% !important;
  width: auto !important;
} */

.input-date {
  /* border: 1px solid red !important; */
}
.input-date .MuiInput-underline:before {
  border: 0;
}
.input-date .MuiInput-underline:hover {
  border: 0 !important;
}
.input-date .Mui-focused:active {
  border: 0 !important;
}
.input-date .MuiInput-focused:hover:not(.Mui-disabled):before {
  border: 0 !important;
}
.input-date .MuiInput-underline:hover:not(.Mui-disabled):before {
  border: 0 !important;
}
.custom-bullet {
  transform: translate(-50%) translate3d(0,0,0) !important;
}
/* .modal-social-media .MuiDialog-paper {
  overflow-y: unset !important;
} */

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.6;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
